<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>icon</key>
		<string>one.png</string>
		<key>title</key>
		<string>HIGO7.20周年庆惊喜盘点</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>two.png</string>
		<key>title</key>
		<string>HIGO新人首单福利</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>three.png</string>
		<key>title</key>
		<string>剩得漫不经心，却又可歌可泣</string>
	</dict>
</array>
</plist>
